<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSPINIA | Basic Form</title>
	<link href="#springUrl('/static/css/bootstrap.min.css')" rel="stylesheet">
	<link href="#springUrl('/static/css/style.css')" rel="stylesheet">
    <link href="#springUrl('/static/plugins/foundation-datepicker-1.5.6/css/foundation-datepicker.css')" rel="stylesheet">
    <style>
        .calendarBox {
            position: relative;
        }
        .glyphicon-calendar {
            position: absolute;
            right: 20px;
            top: 10px;
        }
    </style>
</head>
<body class="white-bg">
<div class="ibox-content" style="width: 430px;">
   <form id="myForm" class="form-horizontal" autocomplete="off" data-validator-option="{theme:'default'}">
   	   <input type="hidden" name="id" value="$!{user.id}">

       <div class="form-group"><label class="col-sm-2 control-label">姓名</label>
           <div class="col-sm-10">
               <input type="text" class="form-control" value="$!{user.employeeName}" name="employeeName" data-rule="姓名:required;employeeName"/>
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">身份证号</label>
           <div class="col-sm-10">
               <input type="text" class="form-control" value="$!{user.idcard}" name="idcard" data-rule="身份证号:required;idcard"/>
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">手机号</label>
           <div class="col-sm-10">
           		<input type="text" class="form-control" value="$!{user.mobilePhone}" name="mobilePhone" data-rule="手机号:required;mobilePhone"/>
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">EMS号</label>
           <div class="col-sm-10">
           		<input type="text" class="form-control" value="$!{user.emsId}" name="emsId" data-rule="EMS号:required;emsId"/>
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">员工编号</label>
           <div class="col-sm-10">
           		<input type="text" class="form-control" value="$!{user.employeeId}" name="employeeId" data-rule="员工编号:required;employeeId"/>
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">性别</label>
           <div class="col-sm-10">
               <select class="form-control m-b" id="sex" name="sex">
                   <option value="">请选择</option>
                   <option value="1">男</option>
                   <option value="2">女</option>
               </select>
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <!--<div class="form-group"><label class="col-sm-2 control-label">性别</label>
           <div class="col-sm-10">
               <label class="checkbox-inline">
                   <input type="radio" name="sex" value="1" checked> 男
               </label>
               <label class="checkbox-inline">
                   <input type="radio" name="sex" value="2"> 女
               </label>
           </div>
       </div>
       <div class="hr-line-dashed"></div>-->

       <!--#id,employeeName,idcard,mobilePhone,emsId,
        employeeId,sex,age,
        entryDate,quitDate,serviceYears,
        companyName,serviceStatus,phasename,loanUnfinishAmt,
        leaveControl,createTime,updateTime-->

       <div class="form-group"><label class="col-sm-2 control-label">年龄</label>
           <div class="col-sm-10">
               <input type="text" class="form-control" value="$!{user.age}" name="age" data-rule="年龄:required;age"/>
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">入职时间</label>
           <div class="col-sm-10">
               <input type="text" class="form-control calendarBox" name="entryDate" id="entryDate">
               <div class="glyphicon glyphicon-calendar"></div>
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">离职时间</label>
           <div class="col-sm-10">
               <input type="text" class="form-control calendarBox" id="quitDate" name="quitDate">
               <div class="glyphicon glyphicon-calendar"></div>
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">服务年限</label>
           <div class="col-sm-10">
               <input type="text" class="form-control" name="serviceYears" value="$!{user.serviceYears}">
           </div>
       </div>
       <div class="hr-line-dashed"></div>

       <div class="form-group"><label class="col-sm-2 control-label">公司名</label>
           <div class="col-sm-10">
               <input type="text" class="form-control" name="companyName" value="$!{user.companyName}">
           </div>
       </div>
       <div class="hr-line-dashed"></div>


       <div class="form-group">
           <div class="text-center">
               #if(!$!{user})
               <button class="btn btn-info" type="reset">重 置</button>
               #end
               <button class="btn btn-primary" type="submit">#if($!{user})修 改#else提 交#end</button>
           </div>
       </div>
   </form>
</div>
<script src="#springUrl('/static/js/jquery-2.2.4.js')"></script>
<script src="#springUrl('/static/plugins/nice-validator-1.0.10/jquery.validator.js?local=zh-CN')"></script>
<script src="#springUrl('/static/plugins/foundation-datepicker-1.5.6/js/foundation-datepicker.js')"></script>
<script src="#springUrl('/static/plugins/foundation-datepicker-1.5.6/js/locales/foundation-datepicker.zh-CN.js')"></script>
<script src="#springUrl('/static/js/common.js')"></script>
<script type="text/javascript">

    // 加载日期插件
    calendarWithTime("#reportDate");
    calendarWithTime("#registerTime");
    calendarWithTime("#vipDate");

    $("#myForm").validator({
        valid: function (form) {
            var me = this;
            // 提交表单之前，hold住表单，防止重复提交
            me.holdSubmit();
            $.ajax({
                url: "#springUrl('/clientList/finalUser/editUser')",
                data: $(form).serialize(),
                type: "POST",
                success: function (data) {
                    var d = JSON.parse(data);
                    if (d.success && d.data) {
                        window.parent.location.reload();
                        //当你在iframe页面关闭自身时
                        //var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        //parent.layer.close(index); //再执行关闭
                    } else {
                        //失败，提交表单成功后，释放hold，如果不释放hold，就变成了只能提交一次的表单
                        me.holdSubmit(false);
                    }
                }
            });
        }
    });

    /*数据回显*/
    //日期回显
    // var r = dateFtt("yyyy-MM-dd","$!{user.reportDate}");
    $("#reportDate").val(formatDateTime("$!{user.reportDate}"));
    $("#registerTime").val(formatDateTime("$!{user.registerTime}"));
    $("#vipDate").val(formatDateTime("$!{user.vipDate}"));

    // Radio回显
    $("input[type=radio][name=isVipuser]").each(function () {
        if ($(this).val() == '$!{user.isVipuser}') {
            $(this).attr("checked", "checked");
        }
    });
    $("input[type=radio][name=userMark]").each(function () {
        if ($(this).val() == '$!{user.userMark}') {
            $(this).attr("checked", "checked");
        }
    });
    $("input[type=radio][name=isPerformancePool]").each(function () {
        if ($(this).val() == '$!{user.isPerformancePool}') {
            $(this).attr("checked", "checked");
        }
    });

    //select回显
    $("#userType option").each(function() {
        if ($(this).val() == '${user.userType}') {
            $(this).attr("selected", "selected");
        }
    });

</script>
</body>
</html>
