#override("title")
员工贷款信息查询系统 v1.0
#end
#override("breadcrumb")
<li class="active"><strong>介绍说明</strong></li>
#end
#override("content")
<div class="row">
	<img alt="spring-wind" src="#springUrl('/static/img/spring-wind.png')">
</div>
<div class="row">
	<br><br>
	<br><br>
</div>
<div class="row">
	<h3>员工贷款信息查询系统 v1.0
		<!--<br/><br/><br/>主要包含客户名单，业绩核算，业绩报表，统计报表等功能。</h3>-->
</div>
<div class="row">
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
	<br><br>
</div>
#end
#extends("/common/framework.html")
